@model string


<div class="card">
    <div class="card-header">
        <h4>Info</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops!</h4>
            <p class="lead">@Model</p>
            <hr>
            <p class="mb-0">Something went wrong</p>
        </div>

        <div class="card-footer text-muted">
            <a href="#" data-dismiss="modal" class="btn btn-outline-secondary"><i class="fas fa-times"></i> Close</a>
        </div>
    </div>
</div>