<div class="modal fade" id="elementFormModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <a style="float:right" href="#" class="btn btn-danger" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="elementFormModalDiv">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsItemsModal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a style="float:right" href="#" class="btn btn-danger" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="detailsItemsModalDiv">
            </div>
        </div>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}